@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0D0E12] text-white font-sans;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #16181D;
}

::-webkit-scrollbar-thumb {
  background: #5E6AD2;
  border-radius: 4px;
}